One Time Install

In [5]:
!pip install git+git://github.com/datadotworld/data.world-py.git

Collecting git+git://github.com/datadotworld/data.world-py.git
  Cloning git://github.com/datadotworld/data.world-py.git to c:\users\crisy\appdata\local\temp\pip-50o1gvwg-build
Requirement already satisfied: requests>=2.9.2 in c:\users\crisy\anaconda3\lib\site-packages (from datadotworld==0.1.1)
Installing collected packages: datadotworld
  Running setup.py install for datadotworld: started
    Running setup.py install for datadotworld: finished with status 'done'
Successfully installed datadotworld-0.1.1

In [7]:
!pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.15.0-py2.py3-none-any.whl
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.15.0

Import Packages

## Key Points:
1. Loading data with data.world SDK!
1. List and dictionary comprehensions
2. Apply method for pandas dataframes/series
3. Merging dataframes
4. Pandas Series .isin() method
5. fuzzy matching with fuzzywuzzy
6. multiprocessing
7. groupby

In [1]:
import pandas as pd
import numpy as np
from datadotworld import DataDotWorld
import re
from fuzzywuzzy import process
from collections import defaultdict
import time
% matplotlib inline

C:\Users\Crisy\Anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:35: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

Get Your API Token and Set up Connection

create data.world file in home directory

! echo 'token=YOUR_API_TOKEN' > ~/.data.world

(This may not work on Windows systems)

In that case, enter your token each time you instantiate
a DataDotWorld object (eg, 'client = DataDotWorld("YOUR_API_TOKEN"))

### Standardize Text Vectors

In [2]:
client = DataDotWorld("eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJwcm9kLXVzZXItY2xpZW50OmNjaG8wNDE1IiwiaXNzIjoiYWdlbnQ6Y2NobzA0MTU6OmEyNzJhYWE0LTg2YWQtNGM1MC04OWU2LTRiODk3YzNjNzlkNSIsImlhdCI6MTQ4ODU5MTc2Mywicm9sZSI6WyJ1c2VyX2FwaV93cml0ZSIsInVzZXJfYXBpX3JlYWQiXSwiZ2VuZXJhbC1wdXJwb3NlIjp0cnVlfQ.uj-EY6J6ZUhgdo_WC1l9O5IyYg5NR3AYsvVBkTM6kjMV3VU2tNuZQnT3nfNXzmU7LZRE071yhsCFIr7UfUPwUw")
query = client.query(dataset='nrippner/my-dataset-2', query='select CITY, STABBR from CollegeScorecard')
cscdf = query.as_dataframe()

In [12]:
query = client.query(dataset='nrippner/my-dataset-2', query='select Metropolitan from names')
msadf = query.as_dataframe()

In [13]:
msadf.columns = ['MSA']
msadf = msadf.sort_values(by='MSA').reset_index(drop=True)

msadf = msadf[6:]

In [14]:
cscdf.head(20)

           CITY STABBR
0        Normal     AL
1    Birmingham     AL
2    Birmingham     AL
3       Phoenix     AZ
4       Chicago     IL
5       Chicago     IL
6   Rock Island     IL
7        Aurora     IL
8        Urbana     IL
9    Belleville     IL
10     Richmond     IN
11       Moline     IL
12  Carlinville     IL
13       Quincy     IL
14      Phoenix     AZ
15       Quincy     IL
16       Peoria     IL
17  Bourbonnais     IL
18     Oak Lawn     IL
19   Villa Park     IL

In [15]:
msadf.columns

Index(['MSA'], dtype='object')

In [16]:
msadf.head(10)

                                      MSA
6                      Abilene, TX M.S.A.
7   Aguadilla-Isabela, Puerto Rico M.S.A.
8                        Akron, OH M.S.A.
9                       Albany, GA M.S.A.
10                      Albany, OR M.S.A.
11                 Albuquerque, NM M.S.A.
12                  Alexandria, LA M.S.A.
13                     Altoona, PA M.S.A.
14                    Amarillo, TX M.S.A.
15                        Ames, IA M.S.A.

In [17]:
def match_state(x):
    try:
        return re.search(r'(\b[A-Z]{2}\b)|(\b[A-Z]{2}(?=-))', x).group()
    except:
        print(x)
        return np.nan

In [18]:
start = time.time()
test = msadf.MSA.apply(match_state)
end = time.time()

Aguadilla-Isabela, Puerto Rico M.S.A.
Arecibo, Puerto Rico M.S.A.
Guayama, Puerto Rico M.S.A.
Mayaguez, Puerto Rico M.S.A.
Ponce, Puerto Rico M.S.A.
San German, Puerto Rico M.S.A.
San Juan-Carolina-Caguas, Puerto Rico M.S.A.

In [19]:
test.head(10)

6      TX
7     NaN
8      OH
9      GA
10     OR
11     NM
12     LA
13     PA
14     TX
15     IA
Name: MSA, dtype: object

### Note: Pandas 'apply' method!!

In [20]:
msadf['State'] = msadf.MSA.apply(match_state)

Aguadilla-Isabela, Puerto Rico M.S.A.
Arecibo, Puerto Rico M.S.A.
Guayama, Puerto Rico M.S.A.
Mayaguez, Puerto Rico M.S.A.
Ponce, Puerto Rico M.S.A.
San German, Puerto Rico M.S.A.
San Juan-Carolina-Caguas, Puerto Rico M.S.A.

In [21]:
msadf.head(15)

                                        MSA State
6                        Abilene, TX M.S.A.    TX
7     Aguadilla-Isabela, Puerto Rico M.S.A.   NaN
8                          Akron, OH M.S.A.    OH
9                         Albany, GA M.S.A.    GA
10                        Albany, OR M.S.A.    OR
11                   Albuquerque, NM M.S.A.    NM
12                    Alexandria, LA M.S.A.    LA
13                       Altoona, PA M.S.A.    PA
14                      Amarillo, TX M.S.A.    TX
15                          Ames, IA M.S.A.    IA
16        Anaheim-Santa Ana-Irvine, CA M.D.    CA
17                     Anchorage, AK M.S.A.    AK
18                     Ann Arbor, MI M.S.A.    MI
19  Anniston-Oxford-Jacksonville, AL M.S.A.    AL
20                      Appleton, WI M.S.A.    WI

In [23]:
test = 'Anniston-Oxford-Jacksonville, AL M.S.A.'
test.split(',')

['Anniston-Oxford-Jacksonville', ' AL M.S.A.']

In [24]:
msadf['City'] = msadf.MSA.str.split(',')
msadf['City'] = msadf.City.apply(lambda x: x[0])

In [25]:
print(sum(msadf.City.isin(cscdf.CITY)))
print(msadf.shape[0] - sum(msadf.City.isin(cscdf.CITY)))

230
148

In [26]:
cscdf.head()

         CITY STABBR
0      Normal     AL
1  Birmingham     AL
2  Birmingham     AL
3     Phoenix     AZ
4     Chicago     IL

In [27]:
len(cscdf.CITY.unique())

2545

In [28]:
msadf.reset_index(drop=True, inplace=True)

In [29]:
msadf.shape

(378, 3)

### Note: dictionary comprehension!

Also, 'enumerate' built in function -- pythonic way to do it

In [39]:
start = time.time()
nopes = {}
for msa_i, v in enumerate(msadf.City.values):

    count = 0
    
    for csc_i in cscdf.CITY.values:
        if v == csc_i:
            count += 1
            break
    
    if count == 0:
        nopes[msa_i] = msadf.City[msa_i]
end = time.time()
a = end-start
print(a)
print(len(nopes))
#del(msa_i)
#del(csc_i)

0.19797587394714355
148

In [47]:
start = time.time()
nopes = {}
for msa_i, v in enumerate(msadf.City.values):

    count = False
    
    for csc_i in cscdf.CITY.values:
        if v == csc_i:
            count = True
            break
    
    if not count:
        nopes[msa_i] = msadf.City[msa_i]
end = time.time()
a = end-start
print(a)
print(len(nopes))
del(msa_i)
del(csc_i)

0.19399142265319824
148

In [48]:
start = time.time()
nopes = {i:msadf.City[i] for i,j in enumerate(msadf.City.isin(cscdf.CITY)) if not j}
end = time.time()
b = end-start
print(b)
print(len(nopes))

0.0050106048583984375
148

In [49]:
print(a/b)

38.71616863342216

In [24]:
yeps = {i:msadf.City[i] for i,j in enumerate(msadf.City.isin(cscdf.CITY)) if j}

### ad hoc algorith to extract city names!

In [56]:
def f(x):
        scores = defaultdict(list)
        c = x.split('-')
        for word in c:            
            result = process.extractOne(word, cscdf.CITY)
            if result[1] >= 90:                
                scores[result[1]].append(result[0])        
        try:
            return scores[max(scores)]
        except:            
            return x

def extract(ser):
    out = ser.apply(f)
    return out

#### Using multiprocessing to speed it up

In [ ]:
num_partitions = 8
num_cores = 8

def parallelize_series(s, func):
    s_split = np.array_split(s, num_partitions)
    pool = mp.Pool(num_cores)
    output = pd.concat(pool.map(func, s_split))
    pool.close()
    pool.join()
    return output

start = time.time()
matches = parallelize_series(pd.Series([i for i in nopes.values()]), extract)
end = time.time()

print(end - start)

In [58]:
!pip install tqdm

Collecting tqdm
  Downloading tqdm-4.11.2-py2.py3-none-any.whl (46kB)
Installing collected packages: tqdm
Successfully installed tqdm-4.11.2

In [59]:
from tqdm import tqdm

In [60]:
matches = []
start = time.time()
for cur in tqdm(pd.Series([i for i in nopes.values()])):
    matches.append(f(cur))
end = time.time()
print(end-start)

100%|████████████████████████████████████████████████████████████████████████████████| 148/148 [10:01<00:00,  4.09s/it]

601.1788539886475

In [ ]:
def f(x):
        score = 0
        rez = ""
        c = x.split('-')
        for word in c:            
            result = process.extractOne(word, cscdf.CITY)
            if result[1] > score:
                rez = result[0]
                score = result[1]
        if score <= .9:
            return x
        else:
            return rez

def extract(ser):
    out = ser.apply(f)
    return out

In [ ]:
matches = []
start = time.time()
for cur in tqdm(pd.Series([i for i in nopes.values()])):
    matches.append(f(cur))
end = time.time()
print(end-start)

 94%|███████████████████████████████████████████████████████████████████████████▏    | 139/148 [09:23<00:28,  3.16s/it]

In [65]:
len(pd.Series([i for i in nopes.values()]))

148

In [64]:
len(matches)

148

In [ ]:
a

In [66]:
for i, j in m.items():
    m[i] = j[0]

NameError: name 'm' is not defined

In [ ]:
yeps = np.unique([i for i in yeps.values()])

In [ ]:
for i in yeps:
    m[i] = i

In [ ]:
sum(pd.Series([i for i in m.values()]).isin(cscdf.CITY))

In [ ]:
sum(pd.Series([i for i in m.keys()]).isin(msadf.City))

In [ ]:
msadf['City'] = msadf['City'].map(m)

In [ ]:
msadf.rename(columns={'City':'CITY'}, inplace=True)

## Merge!!

In [ ]:
full_data = cscdf.merge(msadf, on='CITY', how='inner')

In [ ]:
full_data.head()

In [ ]:
# example of what fuzzywuzzy.process() is doing...
test = pd.Series([i for i in nopes.values()]).str.split('-')[2]
for word in test:
    print(process.extractOne(word, cscdf.CITY))

In [ ]:
pd.Series([i for i in nopes.values()])[2].split('-')

## Clean up a noisy datetime vector

In [3]:
query = client.query(dataset='nrippner/my-dataset', query='select * from dates')
dates = query.as_dataframe()

KeyboardInterrupt:

In [ ]:
dates.shape

In [ ]:
dates.head(20)

Note: this would take forever if we used pd.to_dataframe 
on every row! This way is much faster!

In [ ]:

def lookup(s):
    dates = {date:pd.to_datetime(date, errors='coerce') for date in s.unique()}
    return s.map(dates)
start = time.time()
dates['NewDate'] = lookup(dates.APPT_START_DATE)
end = time.time()
print("Time: {:.2f}".format(end-start))
print("Couldn't be parsed: ", sum(dates.NewDate.isnull()))

In [ ]:
dates.head()

In [ ]:
dates['Year'] = dates.NewDate.apply(lambda x: x.year)

In [ ]:
dates.head()

In [ ]:
dates.Year.hist(bins=20)

## pandas .groupby() method!!!!

In [ ]:
grouped = dates.groupby('Year').size()

In [ ]:
grouped.plot(kind='bar')