In [1]:
#We are getting the github repo here
!pip install git+git://github.com/datadotworld/data.world-py.git

Collecting git+git://github.com/datadotworld/data.world-py.git
  Cloning git://github.com/datadotworld/data.world-py.git to c:\users\hello\appdata\local\temp\pip-xt5z3j01-build
  Requirement already satisfied (use --upgrade to upgrade): datadotworld==0.1.1 from git+git://github.com/datadotworld/data.world-py.git in d:\anaconda\lib\site-packages
Requirement already satisfied: requests>=2.9.2 in d:\anaconda\lib\site-packages (from datadotworld==0.1.1)

In [2]:
# We are importing external libraries (pandas numpy and datadotworld)
import pandas as pd
from datadotworld import DataDotWorld
import numpy as np

In [3]:
# This is the necessary API token
token = "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJwcm9kLXVzZXItY2xpZW50OmNjaG8wNDE1IiwiaXNzIjoiYWdlbnQ6Y2NobzA0MTU6OmEyNzJhYWE0LTg2YWQtNGM1MC04OWU2LTRiODk3YzNjNzlkNSIsImlhdCI6MTQ4ODU5MTc2Mywicm9sZSI6WyJ1c2VyX2FwaV93cml0ZSIsInVzZXJfYXBpX3JlYWQiXSwiZ2VuZXJhbC1wdXJwb3NlIjp0cnVlfQ.uj-EY6J6ZUhgdo_WC1l9O5IyYg5NR3AYsvVBkTM6kjMV3VU2tNuZQnT3nfNXzmU7LZRE071yhsCFIr7UfUPwUw"

In [4]:
# For windows this is how I tell datadotworld what my API token is
client = DataDotWorld(token)

In [5]:
# This is telling datadotworld which dataset I want to use
query = client.query(dataset = 'nrippner/my-dataset-2', query = 'select Metropolitan from names')

In [6]:
# This is selecting that dataset I wanted earlier
msadf = query.as_dataframe()

In [7]:
# This prints out the first few in the dataset as a table
msadf.head()

                  Metropolitan
0           Abilene, TX M.S.A.
1             Akron, OH M.S.A.
2         Ann Arbor, MI M.S.A.
3  East Stroudsburg, PA M.S.A.
4        Eau Claire, WI M.S.A.

In [8]:
msadf.columns

Index(['Metropolitan'], dtype='object')

In [9]:
# This tells us the amount of entries and columns
msadf.shape

(384, 1)

In [10]:
# This tells us the amount of entries and columns
msadf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 1 columns):
Metropolitan    384 non-null object
dtypes: object(1)
memory usage: 3.1+ KB

In [11]:
# This tells us the amount of entries and columns
msadf.describe()

              Metropolitan
count                  384
unique                 384
top     El Paso, TX M.S.A.
freq                     1

In [12]:
# We are importing reg ex for python
import re
# We are creating a function
def match_state(x):
#     Do this first
    try:
#         Look for anything that fulfills this requirement which would be a state's abbreviation
        return re.search(r'(\b[A-Z]{2}\b)|(\b[A-Z]{2}(?=-))', x).group()
# If this doesnt work
    except:
#         print out a null
        print(x)
        return np.nan

In [13]:
# Create a state column and fill it with data you get from match_state function
msadf['State']= msadf['Metropolitan'].apply(match_state)
# Create a city column by splitting the Metropolitan by ,
msadf['City'] = msadf.Metropolitan.str.split(',')
# Fill the city column with the data you get from the first index of the array you get from the split earlier
msadf['City'] = msadf.City.apply(lambda x: x[0])
# Print out the first 30 of this table
msadf.head(30)

Aguadilla-Isabela, Puerto Rico M.S.A.
Arecibo, Puerto Rico M.S.A.
Guayama, Puerto Rico M.S.A.
Mayaguez, Puerto Rico M.S.A.
Ponce, Puerto Rico M.S.A.
San German, Puerto Rico M.S.A.
San Juan-Carolina-Caguas, Puerto Rico M.S.A.
1
2 Because of changes in the state/local agency's reporting practices, figures are not comparable to previous years' data.
3 The FBI determined that the agency's data were overreported. Consequently, those data are not included in this table.
4 The FBI determined that the agency's data were underreported. Consequently, those data are not included in this table.
5 The population for the city of Mobile, Alabama, includes 55,819 inhabitants from the jurisdiction of the Mobile County Sheriff's Department.
6 The FBI determined that the agency did not follow national UCR Program guidelines for reporting an offense. Consequently, this figure is not included in this table.

,Metropolitan,State,City
0,"Abilene, TX M.S.A.",TX,Abilene
1,"Akron, OH M.S.A.",OH,Akron
2,"Ann Arbor, MI M.S.A.",MI,Ann Arbor
3,"East Stroudsburg, PA M.S.A.",PA,East Stroudsburg
4,"Eau Claire, WI M.S.A.",WI,Eau Claire
5,"El Centro, CA M.S.A.",CA,El Centro
6,"Elizabethtown-Fort Knox, KY M.S.A.",KY,Elizabethtown-Fort Knox
7,"Elkhart-Goshen, IN M.S.A.",IN,Elkhart-Goshen
8,"Elmira, NY M.S.A.",NY,Elmira
9,"El Paso, TX M.S.A.",TX,El Paso
10,"Enid, OK M.S.A.",OK,Enid
11,"Erie, PA M.S.A.",PA,Erie
12,"Eugene, OR M.S.A.",OR,Eugene
13,"Anniston-Oxford-Jacksonville, AL M.S.A.",AL,Anniston-Oxford-Jacksonville
14,"Evansville, IN-KY M.S.A.",IN,Evansville
15,"Fairbanks, AK M.S.A.",AK,Fairbanks
16,"Fargo, ND-MN M.S.A.",ND,Fargo
17,"Farmington, NM M.S.A.",NM,Farmington
18,"Flagstaff, AZ M.S.A.",AZ,Flagstaff
19,"Flint, MI M.S.A.",MI,Flint
20,"Florence-Muscle Shoals, AL M.S.A.",AL,Florence-Muscle Shoals
21,"Fond du Lac, WI M.S.A.",WI,Fond du Lac
22,"Fort Collins, CO M.S.A.",CO,Fort Collins
23,"Fort Smith, AR-OK M.S.A.",AR,Fort Smith
24,"Appleton, WI M.S.A.",WI,Appleton
25,"Fort Wayne, IN M.S.A.",IN,Fort Wayne
26,"Fresno, CA M.S.A.",CA,Fresno
27,"Gadsden, AL M.S.A.",AL,Gadsden
28,"Gainesville, FL M.S.A.",FL,Gainesville
29,"Gainesville, GA M.S.A.",GA,Gainesville

In [14]:
# This is telling datadotworld which dataset I want to use
query = client.query(dataset = 'nrippner/my-dataset-2', query = 'select CITY, STABBR from CollegeScorecard')
# This is selecting that dataset I wanted earlier
cscdf = query.as_dataframe()
# This is dictating the columns I want on the dataset
cscdf.columns = ['City', 'State']

In [15]:
import time
start = time.time()
# Does a BOOLEAN check on these keys and creates a dictionary for the ones that do not match
nopes = {i:msadf.City[i] for i,j in enumerate(msadf.City.isin(cscdf.City)) if not j}
end = time.time()
b = end-start
print(b)
print(nopes)

0.008513689041137695
{6: 'Elizabethtown-Fort Knox', 7: 'Elkhart-Goshen', 13: 'Anniston-Oxford-Jacksonville', 20: 'Florence-Muscle Shoals', 37: 'Grand Rapids-Wyoming', 42: 'Greensboro-High Point', 44: 'Gulfport-Biloxi-Pascagoula', 45: 'Hagerstown-Martinsburg', 46: 'Athens-Clarke County', 48: 'Hanford-Corcoran', 50: 'Hartford-West Hartford-East Hartford', 52: 'Hilton Head Island-Bluffton-Beaufort', 53: 'Hinesville', 54: 'Homosassa Springs', 55: 'Houma-Thibodaux', 56: 'Houston-The Woodlands-Sugar Land', 57: 'Atlanta-Sandy Springs-Roswell', 60: 'Indianapolis-Carmel-Anderson', 67: 'Janesville-Beloit', 68: 'Atlantic City-Hammonton', 74: 'Kahului-Wailuku-Lahaina', 75: 'Kalamazoo-Portage', 77: 'Kennewick-Richland', 78: 'Killeen-Temple', 79: 'Austin-Round Rock', 80: 'Kingsport-Bristol-Bristol', 84: 'La Crosse-Onalaska', 86: 'Lafayette-West Lafayette', 88: 'Lake Havasu City-Kingman', 89: 'Lakeland-Winter Haven', 92: 'Lansing-East Lansing', 95: 'Las Vegas-Henderson-Paradise', 99: 'Lewiston-Auburn', 100: 'Lexington-Fayette', 101: 'Baltimore-Columbia-Towson', 104: 'Little Rock-North Little Rock-Conway', 108: 'Los Angeles-Long Beach-Anaheim', 109: 'Anaheim-Santa Ana-Irvine', 110: 'Los Angeles-Long Beach-Glendale', 111: 'Louisville/Jefferson County', 116: 'Macon-Bibb County', 119: 'Manchester-Nashua', 121: 'Mankato-North Mankato', 123: 'McAllen-Edinburg-Mission', 124: 'Barnstable Town', 128: 'Miami-Fort Lauderdale-West Palm Beach', 129: 'Fort Lauderdale-Pompano Beach-Deerfield Beach', 130: 'Miami-Miami Beach-Kendall', 131: 'West Palm Beach-Boca Raton-Delray Beach', 132: 'Michigan City-La Porte', 136: 'Milwaukee-Waukesha-West Allis', 137: 'Minneapolis-St. Paul-Bloomington', 147: 'Mount Vernon-Anacortes', 149: 'Myrtle Beach-Conway-North Myrtle Beach', 151: 'Naples-Immokalee-Marco Island', 152: 'Nashville-Davidson–Murfreesboro–Franklin', 154: 'New Orleans-Metairie', 155: 'Niles-Benton Harbor', 156: 'North Port-Sarasota-Bradenton', 158: 'Norwich-New London', 160: 'Ocean City', 162: 'Ogden-Clearfield', 164: 'Olympia-Tumwater', 165: 'Omaha-Council Bluffs', 166: 'Orlando-Kissimmee-Sanford', 167: 'Oshkosh-Neenah', 168: 'Beaumont-Port Arthur', 170: 'Oxnard-Thousand Oaks-Ventura', 171: 'Palm Bay-Melbourne-Titusville', 173: 'Parkersburg-Vienna', 174: 'Pensacola-Ferry Pass-Brent', 176: 'Philadelphia-Camden-Wilmington', 178: 'Montgomery County-Bucks County-Chester County', 182: 'Phoenix-Mesa-Scottsdale', 187: 'Portland-South Portland', 188: 'Port St. Lucie', 191: 'Providence-Warwick', 192: 'Provo-Orem', 194: 'Punta Gorda', 201: 'Bend-Redmond', 202: 'Riverside-San Bernardino-Ontario', 209: 'Sacramento–Roseville–Arden-Arcade', 217: 'San Antonio-New Braunfels', 218: 'San Diego-Carlsbad', 219: 'San Francisco-Oakland-Hayward', 220: 'Oakland-Hayward-Berkeley', 221: 'San Francisco-Redwood City-South San Francisco', 225: 'San Jose-Sunnyvale-Santa Clara', 226: 'San Luis Obispo-Paso Robles-Arroyo Grande', 227: 'Santa Cruz-Watsonville', 228: 'Santa Maria-Santa Barbara', 231: 'Seattle-Tacoma-Bellevue', 232: 'Seattle-Bellevue-Everett', 233: 'Tacoma-Lakewood', 234: 'Sebastian-Vero Beach', 235: 'Birmingham-Hoover', 236: 'Sebring', 237: 'Sheboygan', 238: 'Sherman-Denison', 239: 'Shreveport-Bossier City', 242: 'South Bend-Mishawaka', 244: 'Spokane-Spokane Valley', 251: 'Staunton-Waynesboro', 254: 'St. Joseph', 256: 'Stockton-Lodi', 261: 'Tampa-St. Petersburg-Clearwater', 272: 'Urban Honolulu', 273: 'Utica-Rome', 274: 'Vallejo-Fairfield', 276: 'Vineland-Bridgeton', 277: 'Virginia Beach-Norfolk-Newport News', 278: 'Visalia-Porterville', 279: 'Bloomsburg-Berwick', 283: 'Washington-Arlington-Alexandria', 284: 'Silver Spring-Frederick-Rockville', 285: 'Washington-Arlington-Alexandria', 286: 'Waterloo-Cedar Falls', 287: 'Watertown-Fort Drum', 290: 'Boise City', 299: 'York-Hanover', 303: 'Aguadilla-Isabela', 309: 'San Juan-Carolina-Caguas', 310: '1', 311: "2 Because of changes in the state/local agency's reporting practices", 313: "3 The FBI determined that the agency's data were overreported. Consequently", 314: "4 The FBI determined that the agency's data were underreported. Consequently", 315: '5 The population for the city of Mobile', 316: '6 The FBI determined that the agency did not follow national UCR Program guidelines for reporting an offense. Consequently', 317: 'Bremerton-Silverdale', 319: 'Bridgeport-Stamford-Norwalk', 320: 'Brownsville-Harlingen', 322: 'Buffalo-Cheektowaga-Niagara Falls', 324: 'Burlington-South Burlington', 325: 'California-Lexington Park', 326: 'Canton-Massillon', 327: 'Cape Coral-Fort Myers', 333: 'Chambersburg-Waynesboro', 335: 'Charleston-North Charleston', 339: 'Chicago-Naperville-Elgin', 341: 'Chicago-Naperville-Arlington Heights', 344: 'Lake County-Kenosha County', 350: 'College Station-Bryan', 360: 'Crestview-Fort Walton Beach-Destin', 363: 'Dallas-Fort Worth-Arlington', 364: 'Dallas-Plano-Irving', 365: 'Fort Worth-Arlington', 368: 'Daphne-Fairhope-Foley', 369: 'Davenport-Moline-Rock Island', 374: 'Deltona-Daytona Beach-Ormond Beach', 375: 'Denver-Aurora-Lakewood', 376: 'Des Moines-West Des Moines', 377: 'Detroit-Warren-Dearborn', 378: 'Detroit-Dearborn-Livonia', 379: 'Warren-Troy-Farmington Hills'}

In [16]:
# Creating a yeps dictionary
yeps = {i:msadf.City[i] for i,j in enumerate(msadf.City.isin(cscdf.City)) if j}
print(yeps)

{0: 'Abilene', 1: 'Akron', 2: 'Ann Arbor', 3: 'East Stroudsburg', 4: 'Eau Claire', 5: 'El Centro', 8: 'Elmira', 9: 'El Paso', 10: 'Enid', 11: 'Erie', 12: 'Eugene', 14: 'Evansville', 15: 'Fairbanks', 16: 'Fargo', 17: 'Farmington', 18: 'Flagstaff', 19: 'Flint', 21: 'Fond du Lac', 22: 'Fort Collins', 23: 'Fort Smith', 24: 'Appleton', 25: 'Fort Wayne', 26: 'Fresno', 27: 'Gadsden', 28: 'Gainesville', 29: 'Gainesville', 30: 'Gettysburg', 31: 'Glens Falls', 32: 'Goldsboro', 33: 'Grand Forks', 34: 'Grand Island', 35: 'Asheville', 36: 'Grand Junction', 38: 'Grants Pass', 39: 'Great Falls', 40: 'Greeley', 41: 'Green Bay', 43: 'Greenville', 47: 'Hammond', 49: 'Harrisonburg', 51: 'Hattiesburg', 58: 'Huntsville', 59: 'Idaho Falls', 61: 'Iowa City', 62: 'Jackson', 63: 'Jackson', 64: 'Jackson', 65: 'Jacksonville', 66: 'Jacksonville', 69: 'Jefferson City', 70: 'Johnson City', 71: 'Johnstown', 72: 'Jonesboro', 73: 'Joplin', 76: 'Kansas City', 81: 'Kingston', 82: 'Knoxville', 83: 'Kokomo', 85: 'Lafayette', 87: 'Lake Charles', 90: 'Bakersfield', 91: 'Lancaster', 93: 'Laredo', 94: 'Las Cruces', 96: 'Lawton', 97: 'Lebanon', 98: 'Lewiston', 102: 'Lima', 103: 'Lincoln', 105: 'Logan', 106: 'Longview', 107: 'Longview', 112: 'Albany', 113: 'Bangor', 114: 'Lubbock', 115: 'Lynchburg', 117: 'Madera', 118: 'Madison', 120: 'Manhattan', 122: 'Mansfield', 125: 'Medford', 126: 'Memphis', 127: 'Merced', 133: 'Midland', 134: 'Midland', 135: 'Baton Rouge', 138: 'Missoula', 139: 'Mobile', 140: 'Modesto', 141: 'Monroe', 142: 'Monroe', 143: 'Montgomery', 144: 'Morgantown', 145: 'Morristown', 146: 'Battle Creek', 148: 'Muskegon', 150: 'Napa', 153: 'New Bern', 157: 'Bay City', 159: 'Ocala', 161: 'Odessa', 163: 'Oklahoma City', 169: 'Owensboro', 172: 'Panama City', 175: 'Peoria', 177: 'Camden', 179: 'Beckley', 180: 'Philadelphia', 181: 'Wilmington', 183: 'Pine Bluff', 184: 'Pittsburgh', 185: 'Pittsfield', 186: 'Pocatello', 189: 'Prescott', 190: 'Bellingham', 193: 'Pueblo', 195: 'Racine', 196: 'Rapid City', 197: 'Reading', 198: 'Redding', 199: 'Reno', 200: 'Richmond', 203: 'Roanoke', 204: 'Rochester', 205: 'Rochester', 206: 'Rockford', 207: 'Rocky Mount', 208: 'Rome', 210: 'Saginaw', 211: 'Salem', 212: 'Billings', 213: 'Salinas', 214: 'Salisbury', 215: 'Salt Lake City', 216: 'San Angelo', 222: 'San Rafael', 223: 'Albany', 224: 'Binghamton', 229: 'Santa Rosa', 230: 'Savannah', 240: 'Sioux City', 241: 'Sioux Falls', 243: 'Spartanburg', 245: 'Springfield', 246: 'Bismarck', 247: 'Springfield', 248: 'Springfield', 249: 'Springfield', 250: 'State College', 252: 'St. Cloud', 253: 'St. George', 255: 'St. Louis', 257: 'Bloomington', 258: 'Sumter', 259: 'Syracuse', 260: 'Tallahassee', 262: 'Texarkana', 263: 'The Villages', 264: 'Toledo', 265: 'Topeka', 266: 'Trenton', 267: 'Tucson', 268: 'Bloomington', 269: 'Tulsa', 270: 'Tuscaloosa', 271: 'Tyler', 275: 'Victoria', 280: 'Waco', 281: 'Walla Walla', 282: 'Warner Robins', 288: 'Wausau', 289: 'Wenatchee', 291: 'Wheeling', 292: 'Wichita', 293: 'Wichita Falls', 294: 'Williamsport', 295: 'Wilmington', 296: 'Winchester', 297: 'Worcester', 298: 'Yakima', 300: 'Yuba City', 301: 'Boulder', 302: 'Yuma', 304: 'Arecibo', 305: 'Guayama', 306: 'Mayaguez', 307: 'Ponce', 308: 'San German', 312: 'Bowling Green', 318: 'Albuquerque', 321: 'Brunswick', 323: 'Burlington', 328: 'Cape Girardeau', 329: 'Alexandria', 330: 'Carson City', 331: 'Casper', 332: 'Cedar Rapids', 334: 'Charleston', 336: 'Charlottesville', 337: 'Chattanooga', 338: 'Cheyenne', 340: 'Altoona', 342: 'Elgin', 343: 'Gary', 345: 'Chico', 346: 'Cincinnati', 347: 'Clarksville', 348: 'Cleveland', 349: "Coeur d'Alene", 351: 'Amarillo', 352: 'Colorado Springs', 353: 'Columbia', 354: 'Columbia', 355: 'Columbus', 356: 'Columbus', 357: 'Columbus', 358: 'Corpus Christi', 359: 'Corvallis', 361: 'Cumberland', 362: 'Ames', 366: 'Dalton', 367: 'Danville', 370: 'Dayton', 371: 'Decatur', 372: 'Decatur', 373: 'Anchorage', 380: 'Dothan', 381: 'Dover', 382: 'Dubuque', 383: 'Duluth'}

In [17]:
# Fuzzywuzzy is used to measure similarities between two strings
! pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in d:\anaconda\lib\site-packages

In [18]:
from fuzzywuzzy import process

D:\Anaconda\lib\site-packages\fuzzywuzzy\fuzz.py:35: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [19]:
# It is giving us an accuracy score (how close is teeest to test)
process.extractOne('test', ['teeest', 'adsfsak', 'afadfasdk'])

('teeest', 80)

In [20]:
from collections import defaultdict

In [21]:
def f(x):
    # splitting the input function by -
        scores = defaultdict(list)
        #     takes the input and split it by -
        c = x.split('-')
        for word in c:            
                    #         return a tuple with the word and the accuracy score
            result = process.extractOne(word, cscdf.City)
            #     if the score is accuracy score is greater than 90
            if result[1] >= 90:         
                #         Creates a new key and appends the value to the dictionary
                scores[result[1]].append(result[0])        
        try:
            #             it will take the input and it will return the one with the highest score
            return scores[max(scores)]
        except:   
            #         if it is empty it'll return the original
            return x
def extract(ser):
    out = ser.apply(f)
    return out

In [22]:
# this will make it so that you use multiple cores
import multiprocessing as mp
from multiprocessing import Pool

In [24]:
start = time.time()
matches = (pd.Series([i for i in nopes.values()]))
end = time.time()

print(end - start)

0.0005004405975341797